# Ignore profiling data
profile/

# Ignore result outputs
results/

# Ignore null output or temp dir
null/

*.pyc
*.pyo
*.pyd

csv/

# Ignore exported ONNX models
output/onnx/

block.onnx
llama_full.onnx